.collapsible {
    color: grey;
    cursor: pointer;
    padding: auto;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  
  .active, .collapsible:hover {
    background-color: grey;
  }
  
  .collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .content-2 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }